
<ion-content class="flex-content">

  <ion-card class="card-visualizacao">
    <ion-card-header>
      <ion-icon class="large-icon" name="eye"></ion-icon>
      <ion-card-title>Visualização de Nota Fiscal</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="flex-content">
        <div  class="nota-fiscal">
          <img src="../../assets/carga.jpg" alt="nota de carga">
          <div class="descricao">
          <p><b>Nome:</b> carga_3.pdf</p>
          <p><b>Upload:</b> 05/06/2024 às 11:30</p>
          <p><b>Tamanho:</b> 33.2kb</p>
          <p><b>Validade:</b> 05/06/2025</p>
          </div>
        </div>
        <div class="nota-fiscal">
          <img src="../../assets/carga.jpg" alt="nota de carga">
          <div class="descricao">
          <p><b>Nome:</b> carga_2.pdf</p>
          <p><b>Upload:</b> 05/06/2024 às 11:30</p>
          <p><b>Tamanho:</b> 33.2kb</p>
          <p><b>Validade:</b> 05/06/2025</p>
          </div>
        </div>
        <div class="nota-fiscal">
          <img src="../../assets/carga.jpg" alt="nota de carga">
          <div class="descricao">
          <p><b>Nome:</b> carga_1.pdf</p>
          <p><b>Upload:</b> 05/06/2024 às 11:30</p>
          <p><b>Tamanho:</b> 33.2kb</p>
          <p><b>Validade:</b> 05/06/2025</p>
          </div>
        </div>
        </div>
    </ion-card-content>
  </ion-card>
  
