<ion-header>
    <button ion-button text-center menuToggle>
      <ion-title class="ion-text-center"><img alt="logo" id="header_logo" height="55" margin="20px" float-left src="../../assets/logo.png"></ion-title>
    </button>
</ion-header>
<ion-content class="ion-padding-top">
  <div class="profile">

  </div>
  <ion-list>
    <ion-item>
      <ion-input label="Nome: " value="Fulano de Tal"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-input label="E-mail: " value="fulano@gmail.com"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-input label="Telefone: " value="(14)99000-9900"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-input label="Cargo: " value="Motorista" [readonly]="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Empresa: " value="RodoJacto" [readonly]="true"></ion-input>
    </ion-item>
  
  </ion-list>
</ion-content>