<ion-header>
  <app-logo-header>
  </app-logo-header>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="map" style="height: 100%;"></div>

  <div class="control-panel" id="control-panel"> <!-- Diretiva *ngIf para controlar a visibilidade -->
    <ion-item color="dark">
      <ion-label position="stacked">Ponto de Partida</ion-label>
      <ion-input type="text" [(ngModel)]="start"></ion-input>
    </ion-item>
    <ion-item color="dark">
      <ion-label position="stacked">Destino</ion-label>
      <ion-input type="text" [(ngModel)]="destination"></ion-input>
    </ion-item>
    <ion-button expand="block" (click)="calculateRoute()">Calcular Rota</ion-button>
    <ion-button expand="block" (click)="toggleRouteInstructions()">
      {{ showRouteInstructions ? 'Ocultar Instruções' : 'Exibir Instruções' }}
    </ion-button>
  </div>
</ion-content>

<ion-footer>
  <app-tab-footer>
  </app-tab-footer>
</ion-footer>