<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Mapa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label position="stacked">Ponto de Partida (A)</ion-label>
    <ion-input type="text" [(ngModel)]="start" placeholder="latitude,longitude"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Destino (Z)</ion-label>
    <ion-input type="text" [(ngModel)]="destination" placeholder="latitude,longitude"></ion-input>
  </ion-item>
  <ion-button expand="block" (click)="calculateRoute()">Calcular Rota</ion-button>

  <div #mapContainer id="map" style="height: 100%;"></div>
</ion-content>
