<ion-content [fullscreen]="true">

  <img class="logo" alt="logo" id="header_logo" margin="20px" src="../../assets/logo.png">
  <div class="titulo"><span>LOGIN</span></div>
  <ion-list style="text-align: center;">

    <form action="login.php" method="post">
      <ion-item>
        <ion-input labelPlacement="stacked" label="Usúario: " placeholder="Digite seu Usúario..." required>
          <ion-icon slot="start" name="person" aria-hidden="true"></ion-icon>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input labelPlacement="stacked" label="Senha: " type="password" value="password" required>
          <ion-icon slot="start" name="lock-closed" aria-hidden="true"></ion-icon>
        </ion-input>
      </ion-item>

      <ion-button expand="full" class="btnLogin" type="submit">LOGIN</ion-button>
    </form>

    <div class="esqueciContainer">
      <a class="esqueci" href="">Esqueci minha senha</a>
    </div>
  </ion-list>
  <!-- <div *ngIf="alertMessage" class="alert alert-danger">
    {{ alertMessage }}
  </div>
  <div *ngIf="successMessage" class="alert alert-success">
    {{ successMessage }}
  </div> -->
</ion-content>