<ion-content class="flex-content">

  <ion-card class="card-visualizacao">
    <ion-card-header>
      <ion-icon class="large-icon" name="eye"></ion-icon>
      <ion-card-title>Cargas</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="flex-content">
        <div class="carga">
          <img class="image-carga" src="../../assets/carga.jpg" alt="nota de carga">
          <div class="descricao">
            <div class="legenda">
              <p><ion-icon name="checkmark-circle"></ion-icon> <b>Nome:</b> carga.pdf</p>
            </div>
            <div class="legenda">
              <p><ion-icon name="calendar"></ion-icon><b>Upload:</b> 12/06/2024 às 19:30</p>
            </div>
            <div class="legenda">
              <p><ion-icon name="document"></ion-icon><b>Tamanho:</b> 31.2kb</p>
            </div>
            <div class="legenda">
              <p><ion-icon name="time"></ion-icon> <b>Validade:</b> 12/06/2024</p>
            </div>
          </div>
          <div class="acoes">
            <ion-button class="download">
              <ion-icon slot="icon-only" name="download-outline"></ion-icon>
            </ion-button>
            <ion-button class="excluir">
              <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
            </ion-button>
            <ion-button class="compartilhar">
              <ion-icon slot="icon-only" name="share-social-outline"></ion-icon>
            </ion-button>
          </div>
        </div>
        <div class="carga">
          <img class="image-carga" src="../../assets/carga.jpg" alt="nota de carga">
          <div class="descricao">
            <div class="legenda">
              <p><ion-icon name="checkmark-circle"></ion-icon> <b>Nome:</b> carga_2.pdf</p>
            </div>
            <div class="legenda">
              <p><ion-icon name="calendar"></ion-icon><b>Upload:</b> 01/05/2024 às 11:30</p>
            </div>
            <div class="legenda">
              <p><ion-icon name="document"></ion-icon><b>Tamanho:</b> 32.0kb</p>
            </div>
            <div class="legenda">
              <p><ion-icon name="time"></ion-icon> <b>Validade:</b> 01/05/2025</p>
            </div>
          </div>
          <div class="acoes">
            <ion-button class="download">
              <ion-icon slot="icon-only" name="download-outline"></ion-icon>
            </ion-button>
            <ion-button class="excluir">
              <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
            </ion-button>
            <ion-button class="compartilhar">
              <ion-icon slot="icon-only" name="share-social-outline"></ion-icon>
            </ion-button>
          </div>
        </div>
        <div class="carga">
          <img class="image-carga" src="../../assets/carga.jpg" alt="nota de carga">
          <div class="descricao">
            <div class="legenda">
              <p><ion-icon name="checkmark-circle"></ion-icon> <b>Nome:</b> carga_1.pdf</p>
            </div>
            <div class="legenda">
              <p><ion-icon name="calendar"></ion-icon><b>Upload:</b> 03/04/2024 às 11:30</p>
            </div>
            <div class="legenda">
              <p><ion-icon name="document"></ion-icon><b>Tamanho:</b> 33.2kb</p>
            </div>
            <div class="legenda">
              <p><ion-icon name="time"></ion-icon> <b>Validade:</b> 03/04/2025</p>
            </div>
          </div>
          <div class="acoes">
            <ion-button class="download">
              <ion-icon slot="icon-only" name="download-outline"></ion-icon>
            </ion-button>
            <ion-button class="excluir">
              <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
            </ion-button>
            <ion-button class="compartilhar">
              <ion-icon slot="icon-only" name="share-social-outline"></ion-icon>
            </ion-button>
          </div>
        </div>
      </div>
    </ion-card-content>
  </ion-card>