.card-visualizacao {
    margin: 38px 46px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

.large-icon{
    margin: auto;
    font-size: 54px;
    color: #ffffff; /* Opcional: cor do ícone */
}

