<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center"><img alt="logo da jacto" id="header_logo" width="147px" float-left src="../../assets/logo.png"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="flex-content">

  <ion-card class="card-visualizacao">
    <ion-card-header>
      <ion-icon class="large-icon" name="eye"></ion-icon>
      <ion-card-title>Visualização de Cargas</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="carga">
       <img src="../../assets/carga.jpg" alt="nota de carga">
       <p>no</p>
      </div>
      <div class="carga">
        <img src="../../assets/carga.jpg" alt="nota de carga">
        <p>no</p>
      </div>
      <div class="carga">
        <img src="../../assets/carga.jpg" alt="nota de carga">
        <p>no</p>
      </div>
    </ion-card-content>
  </ion-card>
  
