ion-tabs{
	ion-fab {
		margin-bottom: env(safe-area-inset-bottom); /* fix notch ios*/
		ion-fab-button {
			--box-shadow: none;
		}
	}

	ion-tab-bar {
		--border: 0;
		--background: transparent;
		position: absolute;
		bottom: 0;
		left:0; right: 0;
		width: 100%;
		&:after{
			content: " ";
			width: 100%;
			bottom: 0;
			background: var(--ion-color-light);
			height: env(safe-area-inset-bottom);
			position: absolute;
		}

        ion-tab-button {

            --background: var(--ion-color-light);
            --color: var(--ion-color-medium);
            --color-selected: var(--ion-color-primary);

            // transition: transform 0.3s ease;
              
            // &.curved {
            //     transform: translateY(-10px);
            //     border-top-radius: 40%;
            // }
          
            &::before {
              background-color: transparent;
              display: block;
              content: "";
              margin: 0 auto;
              width: 20px;
              height: 2px;
            }
          
            &.tab-selected::before {
              background-color: var(--ion-color-primary);
            }
        }

        ion-tab-button.selected {
            /* Change these values to adjust animation */
            animation: grow-circle 0.2s ease-in-out;
            transform: translateY(-5px); /* Move icon slightly up */
          }
          
          @keyframes grow-circle {
            from {
              border-radius: 50%; /* Start as a circle */
              width: 40px; /* Adjust width based on your icon size */
              height: 40px; /* Adjust height based on your icon size */
            }
            to {
              border-radius: 0; /* End as a square */
              width: 30px; /* Adjust final width */
              height: 30px; /* Adjust final height */
            }
          }

		svg {    
			width: 72px;
			margin-top: 19px;
			path{
				fill:  var(--ion-color-light);
			}		
		}
	}
}