<ion-content class="content" [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>

  <img class="logo" alt="logo" id="header_logo" margin="20px" src="../../assets/logo.png">
  <div class="titulo"><span>RESET SENHA</span></div>
  <ion-list style="text-align: center;">
    <ion-item>
      <ion-input labelPlacement="stacked" label="Email: " placeholder="Digite seu email..." [(ngModel)]="email">
        <ion-icon slot="start" name="mail" aria-hidden="true"></ion-icon>
      </ion-input>
    </ion-item>
    <ion-button class="btnReset" (click)="resetSenha()">ENVIAR</ion-button>
  </ion-list>
  <div class="voltarContainer">
    <a class="voltar" href="login">Voltar ao Login</a>
  </div>
</ion-content>
