  
ion-header{
    padding: 23px;
}

.content-upload,
.content-visualizacao {
    // margin: 38px 46px;
    
  }

.card-upload,
.card-visualizacao {
    max-width: 1100px;
    margin: 0 auto;
    // margin: 38px 46px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

ion-card-content{
    display: flex;
    flex-direction: column;
}

.card-visualizacao{
    margin-top: 38px;
}


.large-icon{
    margin: auto;
    font-size: 54px;
    color: #fff; 
}


.card-visualizacao ion-item,
.card-visualizacao .md.card-content-md.hydrated{
    width: 100%;
}

.button-upload, 
.button-visualizacao{
    --background: #fff;
    --border-color:var(--background);
    --border-radius: 10px;
    --color: #3F3F3F;
    font-weight: bold;
}

