<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center"><img alt="logo da jacto" id="header_logo" width="147px" float-left src="../../assets/logo.png"></ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
<div class="flex-content">
  <div class="content-upload">
  <ion-card class="card-upload">
    <ion-card-header>
      <ion-icon class="large-icon" name="cloud-upload"></ion-icon>
      <ion-card-title>Upload de Arquivos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <!-- Botão estilo input para seleção de nota fiscal -->
        <input type="file" id="fileInputNotaFiscal" accept=".pdf, .xml" hidden (change)="onFileSelected('nota-fiscal', $event)" />
        <ion-button class="button-upload" fill="clear" slot="end" (click)="triggerFileInput('fileInputNotaFiscal')">
          Selecione uma Nota Fiscal
        </ion-button>
        <!-- Botão estilo input para seleção de nota de carga -->
        <input type="file" id="fileInputNotaCarga" accept=".pdf, .xlsx, .csv" hidden (change)="onFileSelected('carga', $event)" />
        <ion-button class="button-upload" fill="clear" slot="end" (click)="triggerFileInput('fileInputNotaCarga')">
          Selecione uma Nota de Carga
        </ion-button>
    </ion-card-content>
  </ion-card>
</div>
  
  <div class="content-">
  <ion-card class="card-visualizacao">
    <ion-card-header>
      <ion-icon name="eye" class="large-icon"></ion-icon>
      <ion-card-title>Visualização de documentos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Nota fiscal</ion-label>
        <ion-button class="button-visualizacao" fill="outline" slot="end" (click)="navegarParaNotaFiscal()">
          Visualizar
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-label>Nota de carga</ion-label>
        <ion-button class="button-visualizacao" fill="outline" slot="end" (click)="navegarParaNotaCarga()">
          Visualizar
        </ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>
</div>
</div>
</ion-content>
